<h1>{{ title }}</h1>
{{#with post}}
<h2 class="text-xl">{{ title }}</h2>
<div>
    작성자 : <b>{{writer}}</b>
</div>
<div>
    조회수 : {{hits}} | 작성일시 : {{dateString createdDt}}
    <button type="button" onclick="modifyPost()">수정</button>
    <button type="button" onclick="deletePost()">삭제</button>
</div>

<div>
    <pre>{{content}}</pre>
</div>

<section>
    <div>
        <h3>3개의 댓글이 있습니다.</h3>
    </div>

    <form method="post" action="/write-comment">
        <input type="hidden" name="id" value="{{_id}}">
        <div>
            <div>
                <input type="text" name="name" placeholder="이름을 입력해주세요" />
                <input type="password" name="password" placeholder="비밀번호를 입력해주세요" />
            </div>
            <div>
                <textarea cols="40" rows="3" name="comment" placeholder="댓글을 입력해 주세요."></textarea>
                <br /><br /><button>댓글 쓰기</button>
            </div>
        </div>

    </form>
</section>

<section>
    <div>
        <div>
            작성자 : <b>댓글 작성자</b>
        </div>
        <div>
            작성일시 : 2022-01-01 00:00:00
            <button onclick="deleteComment('1')"></button>
        </div>
    </div>
    <div>
        <pre>{{comment}}</pre>
    </div>
</section>
{{/with}}
<footer>
    <div>
        <a href="/">목록으로</a>
    </div>
</footer>

<script>
    async function modifyPost() {}
    async function deletePost() {}
</script>