<h1>{{ title }}</h1>
{{#with post}}
<h2 class="text-xl">{{ title }}</h2>
<div>
    작성자 : <b>{{writer}}</b>
</div>
<div>
    조회수 : {{hits}} | 작성일시 : {{dateString createdDt}}
    <button type="button" onclick="modifyPost()">수정</button>
    <button type="button" onclick="deletePost()">삭제</button>
</div>

<div>
    <pre>{{content}}</pre>
</div>

<section>
    <div>
        <h3>{{lengthOfList comments}}개의 댓글이 있습니다.</h3>
    </div>

    <form method="post" action="/write-comment">
        <input type="hidden" name="id" value="{{_id}}"> // 본문 id 를 저장하게 됨
        <div>
            <div>
                <input type="text" name="name" placeholder="이름을 입력해주세요" />
                <input type="password" name="password" placeholder="비밀번호를 입력해주세요" />
            </div>
            <div>
                <textarea cols="40" rows="3" name="comment" placeholder="댓글을 입력해 주세요."></textarea>
                <br /><br /><button>댓글 쓰기</button>
            </div>
        </div>

    </form>
</section>

<section>
    {{#each comments}}
        <div>
            <div>
                작성자 : <b>{{name}}</b>
            </div>
            <div>
                작성일시 : {{dateString createdDt}}
                <button onclick="deleteComment('{{idx}}')">삭제</button>
            </div>
        </div>
        <div>
            <pre>{{comment}}</pre>
        </div>
    {{/each}}
</section>
{{/with}}
<footer>
    <div>
        <a href="/">목록으로</a>
    </div>
</footer>

<script>
    async function modifyPost() {}

    const deleteOption = {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
        }
    }

    async function deletePost() {
        const password = prompt("삭제하려면 패스워드를 입력해주세요.")
        if (!password) {
            return
        }
        const result = await fetch("/delete/:id", {
            ...deleteOption,
            body: JSON.stringify({ id: "{{post._id}}", password })
        })

        const data = await result.json()
        if (!data.isSuccess) {
            alert("삭제에 실패했습니다. 패스워드를 확인해주세요.")
            return
        }

        document.location = "/"
    }

    async function deleteComment(idx) {
        const password = prompt("삭제하려면 패스워드를 입력해주세요.")
        if (!password) {
            return
        }
        const result = await fetch("/delete-comment", {
            ...deleteOption,
            body: JSON.stringify({ id: "{{post._id}}", idx, password })
        })

        const data = await result.json()
        if (!data.isSuccess) {
            alert("삭제에 실패했습니다. 패스워드를 확인해주세요.")
            return
        }

        alert("삭제 성공 ~")
        document.location.reload()
    }

</script>